{% extends "base.html" %}

{% block title %}Добавить машину машину{% endblock title %}

{% block css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'style/css/rows.css' %}">
    <link rel="stylesheet" href="{% static 'style/css/resizeFont.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag@3.0.1/dist/css/multi-select-tag.css">
{% endblock css %}

{% block content %}
    <div class="container min-vh-100 d-flex justify-content-center align-items-center">
        <form class = 'card p-5' action="{% url 'homework:add_homework' %}"  method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label class="form-text" for="homework">Название</label>
                <input type="text" name="homework" id="homework" class="form-control" required>
            </div>
            <div class="mb-3">
                <label class="form-text" for="description">Описание</label>
                <textarea class="form-control" id="description" name="description" rows="5" required></textarea>
            </div>
            <div class="mb-3 row">
                <label class="form-text" for="subject">Предмет:</label>
                <select class="form-control form-text" id="subject" name="subject" multiple>
                    <option value="Мат. анализ">Мат. анализ</option>
                    <option value="Линейненая алгебра">Линейненая алгебра</option>
                    <option value="Дискретная математика">Дискретная математика</option>
                    <option value="БЖД">БЖД</option>
                    <option value="Русский язык">Русский язык</option>
                    <option value="Английский язык">Английский язык</option>
                    <option value="Физика">Физика</option>
                    <option value="Дифф. уравнения">Дифф. уравнения</option>
                    <option value="Теория вероятности">Теория вероятности</option>
                    <option value="Мат. статистика">Мат. статистика</option>
                    <option value="Геометрия">Геометрия</option>
                    <option value="Мат. логика">Мат. логика</option>
                    <option value="Философия">Философия</option>
                    <option value="Физ-ра">Физ-ра</option>
                    <option value="История">История</option>
                    <option value="Проекты в IT">Проекты в IT</option>
                    <option value="Ассемблер">Ассемблер</option>
                    <option value="Алгоритмы и структуры данных">Алгоритмы и структуры данных</option>
                    <option value="Программирование">Программирование</option>
                </select>
            </div>
            <div class="mb-3">
                <label class="form-text" for="difficulty">Сложность:</label>
                <select class="form-control form-text" id="difficulty" name="difficulty">
                    <option value="Легко">Легко</option>
                    <option value="Средне">Средне</option>
                    <option value="Тяжело">Тяжело</option>
                </select>
            </div>
            <div class="mb-3 row">
                <div class="col">
                    <label class="form-text" for="deadline">Дедлайн:</label>
                    <input type="date" class="form-control" id="deadline" name="deadline" required>
                </div>
            </div>
            <button type="submit" class="btn btn-dark form-text" style="background-color: #217C6F;">Отправить</button>
        </form>
    </div>
{% endblock content %}

{% block javascript %}
    {% load static %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag@3.0.1/dist/js/multi-select-tag.js"></script>
    <script>
        new MultiSelectTag('subject', {placeholder:'Предметы'})
    </script>
{% endblock javascript %}