{% extends "base.html" %}

{% block title %}Согласованные предложения{% endblock title %}

{% block css %}

{% endblock css %}

{% block content %}
    <br/>
    {% for notify in page_obj %}
        <div class="container custom-container">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title font-weight-bold">{{ notify.homework.name }}</h5>
                    <p class="card-text"><strong>Сложность:</strong> {{ notify.homework.difficulty }}</p>
                    <p class="card-text"><strong>Список предметов:</strong></p>
                    <ul class="list-unstyled">
                        {% for subject in notify.homework.subjects %}
                            <li>{{ subject }}</li>
                        {% endfor %}
                    </ul>
                    <p class="card-text"><strong>Описание:</strong> {{ notify.homework.description }}</p>
                </div>
            </div>
        </div>
        <br/>
    {% endfor %}

    <div class="mb-3" style="margin:0 auto; margin-top: auto">
        {% include 'pagination.html' %}
    </div>
{% endblock content %}

{% block javascript %}

{% endblock javascript %}

