{% extends "base.html" %}

{% block title %}Мои уведомления{% endblock title %}

{% block css %}

{% endblock css %}

{% block content %}
    <br/>
    <div class="container content-with-filters">
        {% for notify in page_obj %}
            <div class="container custom-container">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title font-weight-bold">{{ notify.homework.name }}</h5>
                        <p class="card-text"><strong>Сложность:</strong> {{ notify.homework.difficulty }}</p>
                        <p class="card-text"><strong>Список предметов:</strong></p>
                        <ul class="list-unstyled">
                            {% for subject in notify.homework.subjects %}
                                <li>{{ subject }}</li>
                            {% endfor %}
                        </ul>
                        <p class="card-text"><strong>Описание:</strong> {{ notify.homework.description }}</p>
                    </div>
                    <div class="card-footer">
                        <form action="{% url 'notification:my_notification' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" id="accept_id" name="accept_id" value="{{ homework.id }}">
                            <button class="btn btn-primary" name="accept" id="accept" type="submit">Принять</button>

                            <input type="hidden" id="reject_id" name="reject_id" value="{{ homework.id }}">
                            <button class="btn btn-primary" name="reject" id="reject" type="submit">Отклонить</button>
                        </form>
                    </div>
                </div>
            </div>
            <br/>
        {% endfor %}
    </div>
    <div class="mb-3" style="margin:0 auto; margin-top: auto">
        {% include 'pagination.html' %}
    </div>
{% endblock content %}

{% block javascript %}

{% endblock javascript %}

